.HMG { position: relative;margin: auto; text-align: justify; width: 100%; min-height: 300px; background: #131313; padding: 220px 50px 50px; }

.HMG .FAB104 {background: linear-gradient(223deg,rgb(94 29 19),#30100c);width: 100%;height: 50px;display: flex;align-items: center;padding-left: 50px;font: 300 17px poppins;letter-spacing: 5px;position: relative;text-transform: uppercase;overflow: hidden;}

.HMG .FAB104::before { content: 'road to hashira'; font-weight: 700; font-size: 50px; position: absolute; top: -12px; mix-blend-mode: soft-light; color: #888; z-index: 0; letter-spacing: -4px; left: -16px; opacity: 0.6; }

.HMG b { font: 700 13px poppins; color: #501c16; text-transform: uppercase; }.HMG .FAB101 {width: 100%;height: 250px;clip-path: ellipse(600px 200px at 48% 0);background: radial-gradient(circle, #131313 40%, #101010);position: absolute;overflow: hidden;z-index: 2;left: 0;top: 0;display: flex;align-items: center;}

.HMG .FAB102 {font: 700 30px poppins;letter-spacing: 4px;text-transform: uppercase;z-index: 2;display: flex;flex-direction: column;align-items: flex-start;left: 90%;padding-left: 260px;line-height: 35px;padding-bottom: 30px;text-align: left;}

.HMG .FAB101::before, .HMG .FAB101::after {content: '\f6a1';position: absolute;z-index: -1;font-size: 200px;top: 50%;left: 22%;font-family: 'Font Awesome 6 Free';font-weight: 900;background: linear-gradient(188deg,rgb(94 29 19),#30100c);-webkit-text-fill-color: transparent;-webkit-background-clip: text;transform: translate(-50%, -50%);line-height: 250px;}

.HMG .FAB101::after { font-size: 380px; opacity: .2; }

.HMG .FAB102 > span {font: 300 20px poppins;}.HMG dl.codebox span {font: unset;}
