#bh-posts-main .KAL100 {background: linear-gradient(134deg, #3e393d, #262426); }

#bh-posts-main .KAL100 .KAL101 { box-shadow: -5px -5px 10px var(--drel-light), 5px 5px 10px var(--drel-dark), inset -2px -2px 2px var(--drel-light), inset 2px 2px 2px var(--drel-dark); border: 1px solid #343134; }

#bh-posts-main .KAL100 .KAL101 input.idk[type="checkbox"] { box-shadow: -5px -5px 10px var(--drel-light), 5px 5px 10px var(--drel-dark), inset -5px -5px 10px var(--drel-light), inset 5px 5px 10px var(--drel-dark); outline: 1px solid #333033; }

#bh-posts-main .KAL100 .KAL101 input.idk[type="checkbox"]::before { background: linear-gradient(45deg, #a7a7a7, #787878); box-shadow: -3px -3px 7px var(--drel-light), 3px 3px 7px var(--drel-dark); }

#bh-posts-main .KAL100 .KAL101 input.idk[type="checkbox"]:checked::before { background: linear-gradient(45deg, #543838, #6ca1b7);}

#bh-posts-main .KAL100 span label {box-shadow: -5px -5px 10px var(--drel-light), 5px 5px 10px var(--drel-dark), inset -2px -2px 2px var(--drel-light), inset 2px 2px 2px var(--drel-dark); }

#bh-posts-main .KAL100 .search { box-shadow: -5px -5px 10px var(--drel-light), 5px 5px 10px var(--drel-dark), inset -2px -2px 2px var(--drel-light), inset 2px 2px 2px var(--drel-dark); outline: 1px solid #3b373b; }

#bh-posts-main .KAL100 .KAL102 { box-shadow: -3px -3px 7px var(--drel-light), 3px 3px 7px var(--drel-dark); border: none; }

#bh-posts-main .KAL100 .KAL102 .status { box-shadow: -3px -3px 7px var(--drel-light), 3px 3px 7px var(--drel-dark), inset -2px -2px 2px var(--drel-light), inset 2px 2px 2px var(--drel-dark); border: 1px solid #302d30; }

#bh-posts-main .KAL100 > span label::before { background: linear-gradient(45deg, #a7a7a7, #787878); }

#bh-posts-main .KAL100 .KAL101 > div > div::before { outline: 4px solid #373337; }



:root {
    --drel-light: #463f45;
    --drel-light-dif: #3c373b; 
    --drel-dark: rgb(33 33 34);  
    --rel-light: rgb(255 255 255); 
    --rel-dark: rgba(70,70,70,0.11);
}


.KAL100 br { display: none; }
.KAL101 > div > span br { display: block; }

.KAL100 *::selection { background: #bbacb7; color: #f1f1f1; }

.KAL100 { 
    margin: auto;
    max-width: 500px;
    background: linear-gradient(134deg, #eeeeee, #f1f1f1);
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    font: 12px poppins;
    padding: 40px;
    color: #80848d;
 }

 .KAL100 > div:first-of-type { width: 100%; margin-bottom: 20px; padding: 0 10px; }

 .KAL101 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 22px);
    box-shadow: -5px -5px 10px var(--rel-light), 5px 5px 10px var(--rel-dark), inset -2px -2px 2px var(--rel-light), inset 2px 2px 2px var(--rel-dark);
    border-radius: 50px;
    padding: 10px 11px 9px;
    border: 1px solid #f1f1f1;
    background: linear-gradient(132deg, #00000005, transparent);
}

 .KAL101 > div { display: flex; align-items: center; }

 .KAL101 > div > div {
    position: relative;
    margin-right: 20px;
 }

 .KAL101 > div > div::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(98, 185, 17);
    outline: 4px solid #f1f1f1;
    position: absolute;
    z-index: 2;
    bottom: 7px;
    right: 5px;
 }

 .KAL101 > div > div img {
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    object-fit: cover;
 }

 .KAL101 > div > span b {
    font: 400 18px poppins;
 }


 .KAL100 .search {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: -5px -5px 10px var(--rel-light), 5px 5px 10px var(--rel-dark), inset -2px -2px 2px var(--rel-light), inset 2px 2px 2px var(--rel-dark);
    overflow: hidden;
    display: flex;
    align-items: center;
    outline: 1px solid #f1f1f1;
    position: relative;
    transition: 1s ease-in-out;
    cursor: pointer;
    background: linear-gradient(132deg, #00000005, transparent);
 }

 .KAL100 .search a {
    font-size: 25px;
    position: absolute;
    left: 7px;
    color: #80848d;
    display: flex;
    align-items: center;
    text-decoration: none;
 }

 .KAL100 .search:target { width: 300px; transition: 1s ease-in-out; }

 .KAL100 .search input {
    border: none;
    background: transparent;
    font: 12px poppins;
    height: 20px;
    resize: none;
    min-width: 240px;
    max-width: 240px;
    color: #80848d;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 35px;
}

.KAL100 .search input:focus-visible {outline: none;}

.KAL102 {
    flex: 1;
    min-width: 200px;
    min-height: 35px;
    box-shadow: -3px -3px 7px var(--rel-light), 3px 3px 7px var(--rel-dark);
    border-radius: 15px;
    margin: 10px;
    border: 1px solid #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    background: linear-gradient(132deg, #00000005, transparent);
}

.KAL102 .status {
    position: relative;
    width: 35px;
    min-width: 35px;
    height: 35px;
    box-shadow: -3px -3px 7px var(--rel-light), 3px 3px 7px var(--rel-dark), inset -2px -2px 2px var(--rel-light), inset 2px 2px 2px var(--rel-dark);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f1f1f1;
    margin-left: 15px;
}

.KAL102 .wtrakcie::before {
   content: '\e5d5';
   font-family: 'Material Icons';
   font-size: 21px;
}

.KAL102 .zakonczone::before {
   content: '\e876';
   font-family: 'Material Icons';
   font-size: 21px;
}

.KAL102 .zawieszone::before {
   content: '\e14b';
   font-family: 'Material Icons';
   font-size: 21px;
}

.KAL102 .retro::before {
   content: '\e889';
   font-family: 'Material Icons';
   font-size: 21px;
}

a.name {
    text-decoration: none;
    color: #80848d;
    font: 400 15px poppins;
}

.KAL102 p { width: 100%; color: #80848d9e; }

.KAL101 input.idk[type="checkbox"] {
    height: 30px;
    width: 60px;
    -webkit-appearance: none;
    box-shadow: -5px -5px 10px var(--rel-light), 
    5px 5px 10px var(--rel-dark),
    inset -5px -5px 10px var(--rel-light),
    inset 5px 5px 10px var(--rel-dark);
    border-radius: 20px;
    border: 0px solid #ececec;
    outline: 1px solid #f1f1f1;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.KAL101 input.idk[type="checkbox"]::before {
    content: '';
    width: 23px;
    height: 23px;
    background: linear-gradient(45deg, #bbacb7, #e3dce1);
    border-radius: 50%;
    position: absolute;
    left: 5px;
    box-shadow: -3px -3px 7px var(--rel-light), 3px 3px 7px var(--rel-dark);
    transition: .35s ease-in-out;
}

.KAL101 input.idk[type="checkbox"]:checked::before {
    margin-left: 28px;
    background: linear-gradient(45deg, #80848d, #e3dce1);
    transition: .35s ease-in-out;

}

.KAL100 span label {
   box-shadow: -5px -5px 10px var(--rel-light), 5px 5px 10px var(--rel-dark), inset -2px -2px 2px var(--rel-light), inset 2px 2px 2px var(--rel-dark);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    display: block;
}

.KAL100 > span {
    width: 100%;
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}

.KAL100 > span label {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.KAL100 > span label::before {
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    background: linear-gradient(45deg, #bbacb7, #e3dce1);
    border-radius: 50%;
}
